.comparison-input {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .comparison-input {
    flex-direction: column;
  }

  .comparison-input .item-button:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.comparison-input .item-button {
  transition: background-color 0.3s;
  flex-grow: 1;
}
.comparison-input .item-button:not(:last-child) {
  margin-right: 0.5rem;
}
.comparison-input .item-button:hover {
  background-color: #0ea !important;
  color: white !important;
}
