.empty-state-container {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state-container .create-rating-title {
}

.empty-state-container .rating-name-input {
  margin: 1rem 0;
}

.empty-state-container .add-button {
  width: 20rem;
}
