.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .input-lists-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 720px) {
      & {
        flex-direction: column;
      }
    }

    .list-select-wrapper {
      flex-grow: 1;
      padding: 1rem;

      &:not(:last-child) {
        margin: 0 1rem 0 0;
      }

      @media (max-width: 720px) {
        & {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &:not(:last-child) {
            margin: 0 0 1rem 0;
          }
        }
      }
    }
    .label-wrapper {
      font-size: 1.2rem;
      padding-left: 1rem;
    }
    .select {
      min-height: 2rem;
      width: 100%;
      min-width: 10rem;

      .ant-select-selection-selected-value {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.tooltip {
  background-color: #eaeaea;
  border: 1px solid #aaa;
  padding: 0.5rem;

  .tooltip-pair {
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.1rem;

    .tooltip-label {
      font-weight: bold;
      &:after {
        content: ": ";
      }
    }
    .tooltip-value {
    }
  }
}

.with-small-labels .recharts-label > tspan {
  font-size: 10px !important;
  color: black !important;
  fill: black !important;
}

.with-labels .recharts-layer .recharts-scatter-symbol > path {
  fill: rgba(0, 0, 0, 0.1);
}
